* {
    margin: 0;
    font-family: 'Itim', cursive;
}

.btn-primary {
    color: black;
    background-color: white;
    border: 0;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;

}



/* banner section */
.banner {
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 860px;

}

.banner-details {
    text-align: right;
    padding-top: 186px;
    padding-right: 130px;
}

.banner-title {
    font-weight: 700;
    font-size: 45px;
}

/* main section */

main {
    max-width: 1150px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}

.failure-container {
    display: flex;
    align-items: center;
    gap: 87px;
}



.failure-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}

.failure-description {
    margin-bottom: 16px;
}

.faliure-lists li {
    list-style: none;
}


/* my plans section */



.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

.my-plans-conatiner {
    display: flex;
    justify-content: space-around;
    text-align: center;
}


/* positive section */
.positive-section {
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    background-repeat: none;
    background-size: auto;
    height: 300px;
    width: 1140px;
    margin-bottom: 50px;
}

.positive-container {
    padding-top: 59px;
    padding-left: 64px;
}

.positive-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}